@import url('https://fonts.googleapis.com/css?family=Audiowide|Oxanium&display=swap');
@import url('hover/hover.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');


body{
    font-family: Oxanium;
    font-size: large;
    background-color: #21242B;
    color: #FBF5F3;
}

body#inicial{
    box-shadow: 0px 0px 10px #50C5B7;
    padding: 15px;   
    margin: 5px auto auto auto;
    width: 1200pt;

}

a {
    color: #FBF5F3;
    text-decoration-line: none;
}

nav#Menu {
    border-bottom: 1px #FBF5F3 dotted;
    margin-bottom: 30px;
}

table#MenuSuperior{
    margin-left: 40px;
    margin-bottom: 0px;
    border: 0px;
}
img#Ilogo{
    width: 80px;
}

img#Ilog{
    width: 32px;
    margin-left: 60px;
}

input#busca{
    width: 1300px;
    border: 0px;
    font-size: larger;
    font-family: Audiowide;
    margin-left: 20px;
    padding-top: 0px;
}

table#MenuOpcoes{
    width: 1400px;
    margin-left: 250px;
    font-size: 25px;
    margin-top: 0px;    
}

table#MenuOpcoes tr td#estilo{
    color: yellowgreen;
}

table#menuAlfabetico {
    width: 100%;
    margin: 0px auto;
    border-bottom: 1px #FBF5F3 dotted;
    border-top: 1px #FBF5F3 dotted;
    
}

section#Painel {
    display: block;
    float: right;
}

iframe#painel{
    margin: 10px 10px 10px 10px;
}

footer#rodape {
    border-top: 1px #FBF5F3 dotted;
    display: block;
    clear: both;
}

div#propaganda {
    background-image: url(../_imagens/bannerpropaganda.jpg);
    height: 100px;
    width: 480px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer#rodape {
    
}

footer#rodape div#player {
    text-align: center;
    display: block;
    font-size: 29px;
}

footer#rodape div#player i {
    margin: 10px;
}

body.padraiframe{
    margin: auto;
}

ul#playlistLista{
    margin: 0 auto;
    list-style: none;
}

ul#playlistLista li {
    float: left;
    width: 280px;
    height: 280px;
    margin: 10px;
    border: 5px;
    text-align: center;
}

section#tocador aside{
    float: left;
    margin-left: 20px;

}

section#tocador aside img{
    width: 280px;
    height: 280px;

}

section#tocador aside p{
    text-align: center;

}

section#tocador aside p#pDisco{
    font-size: 34px;
    margin-top: 5px;
    margin-bottom: 0px;
}

section#tocador aside p#pAutor{
    font-size: 20px;
    margin: 5px;
}

section#tocador aside p#pAno{
    font-size: 13px;
    margin: 5px;
    font-family: Audiowide;

}

section#tocador article#tocadorCentro{
    width: 42%;
    margin-left: 320px;
    position: absolute; 
  
}

section#tocador article#tocadorCentro table{
    width: 100%;
}

section#tocador article#tocadorCentro table tr.tocadorFaixa{
    width: 100%;
    font-size: 14px;
    text-align: center;
}

td.alinhaDireita{
    text-align: right;
}

td.alinhaCentro{
    text-align: center;
}

td.alinhaEsquerda{
    text-align: left;
}

section#tocador article#tocadorDireito{
    width: 30%;
    margin-left: 1000px;
    position: absolute;
    border-left: 1px #FBF5F3 dotted;
    padding-left: 10px;

}

p#tituloMusica{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: Audiowide;
}

p#letraMusica{
    font-size: 15px;
}

div#bemvindo {
    font-family: Oxanium;
    font-size: large;
    color: #FBF5F3;
    text-align: center;
}

div#bemvindo h1 {
    color: yellowgreen;
    margin-bottom: 70px;
}

h1.tituloSel{
    color: yellowgreen;
    font-family: Oxanium;
    margin-top: 0px;
    padding-top: 0px;
    font-size: larger;
    text-align: center;
}

table.tabelaSel{
    width: 80%;
    margin: auto;
}

td.tdSel {
    border-bottom: 1px #FBF5F3 dotted;
    font-family: Audiowide;
    font-size: medium;
}
td.tdBranco {
    padding-left: 20px;
}

a.aSel {
    text-decoration-line: none;
}