@import url('https://fonts.googleapis.com/css?family=Audiowide|Oxanium&display=swap');
@import url('hover/hover.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');


body{
    font-family: Oxanium;
    font-size: large;
    background-color: #21242B;
    color: #FBF5F3;
}

body#inicial{
    box-shadow: 0px 0px 10px #50C5B7;
    padding: 15px;   
    margin: 5px auto auto auto;
    width: 1200pt;

}

header#cabecalhoTopo{
    position: relative;
    border-bottom: 1px #FBF5F3 dotted;
}

header#cabecalhoTopo img#Ilogo{
    width: 80px;
}

header#cabecalhoTopo img#Ilog{
    width: 32px;
    position: absolute;
    top: 20px;
    margin-left: 1040pt;
}

header#cabecalhoTopo input{
    width: 1300px;
    border: 0px;
    font-size: larger;
    font-family: Audiowide;
    position: absolute;
    margin-top: 20px;
    margin-left: 20pt;
}

nav#Menu {
    font-size: 25px;
    display: block;
    margin-left: 400px;
}

nav#Menu ul{
    list-style: none;
}

nav#Menu ul li{
    float: left;
    margin-right: 70px;
}

section#Painel {
    display: block;
    float: right;
}


aside#menu {
    display: none;
    /* display: block; */
    float: left;
    border-right: 1px #FBF5F3;
    padding-right: 40px;
}

aside#menu nav#MenuOpcoes{
    font-size: 25px;    
}

aside#menu ul{
    display: block;
    list-style: none;
    }

aside#menu ul li{
    height: 60px;
}

iframe#painel{
    margin: 10px 10px 10px 10px;
}

footer#rodape {
    border-top: 1px #FBF5F3 dotted;
    display: block;
    clear: both;
}

div#propaganda {
    background-image: url(../_imagens/bannerpropaganda.jpg);
    height: 100px;
    width: 480px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer#rodape {
    
}

footer#rodape div#player {
    text-align: center;
    display: block;
    font-size: 29px;
}

footer#rodape div#player i {
    margin: 10px;
}

body#padraiframe{
    margin: auto;
}

ul#playlistLista{
    margin: 0 auto;
    list-style: none;
}

ul#playlistLista li {
    float: left;
    width: 280px;
    height: 280px;
    margin: 10px;
    border: 5px;
    text-align: center;
}